$pink = #E0B396
$brown = #731C25
$green = #4C6425
$teal = #016AA7
$powder = #C1E5F6
$mustard_old = #D5A30B
$mustard = #BD900A
// $mustard = #b73950
$lightMustard = rgba($mustard,0.4)  // #E4D19C
$lightBrown = rgba($brown,0.9)
$lightPink = rgba($pink,0.4)
$white = lightness($mustard, 90)
$om = #072966

p
  background $mustard