*
  margin 0
  padding 0
  box-sizing border-box

body
  height 100vh

.container
  background green
  // height 100vh
  // display flex
  // flex-direction column

header
  height 15vh

nav
  flex-grow 1
  // height 5vh
  // margin-bottom 2rem

main
  // height 80vh
  flex-grow 1


// .gallery
  // min-height 100%